/* Typography */
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

label {
  display: block;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

thead {
    background: #611C35;
    color: #C2F8CB;
}

th, td {
    display: table-cell;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #000000;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

header.page {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background: #2E5077;
    color: #C2F8CB;
}

footer.credit {
    position: fixed;
    bottom: 0;
    left: 0;
}

button {
    cursor: pointer;
}

button.nav-button {
    padding: 10px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #E25822;
    background: #2E5077;
    color: #C2F8CB;
}

button.nav-button:hover {
    color: #08ff32;
    background: #366193;
}

/* Style the addRow button */
#addRow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid #000000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 30%;
    color: #C2F8CB;
    background: #611C35;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

#addRow:hover {
    transform: scale(1.04);
    color: #C2F8CB;
    background: #86274a;
}

/* Align all elements to be the centered */
.table-wrapper {
    display: flex;
    align-items: center;
}
