body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    display: table-cell;
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

button.login-btn {
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button.rounded {
    border: 1px solid #000000;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30%;
}

.table-wrapper {
    display: flex;
    align-items: center;
}

thead {
    background-color: #34113F;
    color: #C2F8CB;
}

th {
    border-color: #C2F8CB;
}