/* Typography */
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

label {
  display: block;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

thead {
    background-color: #611C35;
    color: #C2F8CB;
}

th, td {
    display: table-cell;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #000000;
}

header.home {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #2E5077;
    color: #C2F8CB;
}

footer.tohome {
    padding-top: 10px;
}

button.log {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #2E5077;
    color: #C2F8CB;
    cursor: pointer;
}

#addRow {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #000000;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 30%;
    cursor: pointer;
}

#login-account, #signup-account {
    margin-left: 2rem;
}

.account-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-wrapper {
    display: flex;
    align-items: center;
}
